.descr__block {
    margin: 0 auto;
    padding: 0px 30px 20px 40px;
}

.descr__item {
    margin-bottom: 8px;
    color: #1a96ad;

    .name__block {
        text-align: left;
        width: 52%;
    }

    .item__block {
        float: right;
        width: 48%;
        text-align: right;
    }
}
