.header {
	position: absolute;
    width: 100%;
	z-index: 3;
	height: 44px;
	background-color: #fff;
	border-bottom: 3px solid #2d3d51;

	.logo {
		z-index: 1;
		color: #233245;
	}
}
/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {
	// height: 44px;
	// padding: 20px 0px 0px 20px;
	font-weight: 700;
	padding-top: 12px;
	padding-left: 20px;
	padding-bottom: 11px;

	.icon-fa {
		font-size: 22px;
	}

	.icon-fa-reddit-alien {
		@extend .fa-reddit-alien;
	}

	.title__block {
		margin-left: 5px;
		text-transform: uppercase;
	}
}

.mangment__menu {
	position: absolute;
	top: 12px;
	right: 90px;
	z-index: 1;

	.mangment__menu__item {
		display: inline-block;
	}

	.icon-fa {
		font-size: 1.5rem;
		color: white;
		margin-right: 10px;
	}

	.icon-fa-refresh {
		@extend .fa-refresh;
	}

	.icon-fa-repeat {
		@extend .fa-repeat;
	}

	.icon-fa-sign-out {
		@extend .fa-sign-out;
		// font-size: 1.2rem;
	}

	.icon-fa-power-off {
		@extend .fa-power-off;
	}
}

.nav-trigger {
	position: relative;
	float: right;
	width: 20px;
	height: 44px;
	right: 30px;
	top: -48px;
	display: block;

	.humburger {
		top: 50%;
		width: 20px;
		height: 2px;
		background-color: #35475e;
		position: absolute;

		&:before, &:after {
			content: '';
			width: 20px;
			height: 2px;
			background-color: #35475e;
			position: absolute;
		}

		&:before {
			top: -6px;
		}

		&:after {
			top: 6px;
		}
	}

}
