@include keyframes(fadeIn) {
  0% {
    @include transform(scale(0));
  }
  90% {
    @include transform(scale(1.4));
  }
  100% {
    @include transform(scale(1));
  }
}
@include keyframes(fadeOut) {
  0% {
    @include transform(scale(1));
  }
  90% {
    @include transform(scale(1.4));
  }
  100% {
    @include transform(scale(0));
  }
}
.network__block {

    .widget {
        height: auto;
    }
}
.network__input {
        float: right;
        width: 150px;
        border-color: #cccccc;
        font-size: 16px;
        text-align: center;
        color: grey;
        padding: 5px;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        box-shadow: 2px 2px 7px 0 rgba(204,204,204,.50);
    &:focus {
        outline: none;
    }
}
.network__list {
    margin: 0 auto;
    width: 300px;
    padding-bottom: 10px;
}

.network__desc {
    line-height: 30px;
}
.saving__block {
    text-align: center;
    padding-bottom: 20px;
    margin: 0 auto;
    @include transform(translate(0px, 0px));

    &:hover {
        @include transform(translate(0px, -10px));
        transition: all 800ms cubic-bezier(0.25, 0.35, 0, 1.74);
    }

    .btn {
        color: white;
        font-family: Montserrat;
        font-size: 20px;

    }
}

.network__item, .sensors__item {
    padding-bottom: 18px;

    &.checkbox {
        padding-bottom: 5px;
        text-align: center;
    }
}
.network__label, .sensors__label {
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    color: #aaa;

    .label__text {
        text-align: right;
    }

    input[type="checkbox"] {
        display: none;

        +.label__text {
            &:before {
                content: '\f096';
                font-family: "FontAwesome";
                font-size: 24px;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                width: 1em;
                display: inline-block;
                margin-right: 5px;
                vertical-align: middle;
                @include animation(fadeOut 180ms ease-in);
            }
        }

        &:checked {
            +.label__text {
                &:before {
                    content: '\f14a';
                    color: #1abc9c;
                    @include animation(fadeIn 180ms ease-in);
                }
            }
        }

        &:disabled {
            +.label__text {
                color: #aaa;

                &:before {
                    content: '\f0c8';
                    color: #ccc;
                }
            }
        }

    }
}
