extends ../main
block title
    | Dashboard
block content
    include ../_blocks/_header
    include ../_blocks/_sidebar
    .main-content        
        include ../_blocks/_dashboard
        include ../_blocks/_network
        include ../_blocks/_sensors
        include ../_blocks/_notifications
        include ../_blocks/_settings
