.main
    .widget
        .title Общая информация
        .descr__block
            .descr__item 
                span Production:
                span Esystem PRO
            .descr__item 
                span Model:
                span Depo DMM    
            .descr__item
                span Firmware:
                span 11.07
    .widget
        .title Датчики
        .descr__block
            .descr__item
                span Температура:
                span 26 &deg;С
            .descr__item
                span Влажность:
                span 54%
            .descr__item
                span Запыленность:
                span Низкая
    .widget
        .title Настройки сети
        .descr__block
            .descr__item
                span Состояние:
                span Подключено
            .descr__item
                span IP-addres:
                span 192.168.0.150
            .descr__item
                span Netmask:
                span 255.255.255.0
            .descr__item
                span DNS:
                span 192.168.0.1
            .descr__item
                span Gateway:
                span 192.168.0.1
    .widget
        .title GSM модуль
        .descr__block
            .descr__item
                span Состояние:
                span Подключен
            .descr__item 
                span Версия:
                span 4.6786.34
            .descr__item 
                span Оператор:
                span Мегафон
            .descr__item 
                span Уровень сигнала:
                span 72 Дбм
            .descr__item 
                span Баланс:
                span 148 &#8381;
