mixin widget(title, descrs)
    .widget
        .title= title
        ul.descr__block
            each descr in descrs
                li.descr__item 
                    span.name__block= descr.name
                    span.item__block= descr.item

- var info = [{name:'Production:', item:'Esystem PRO'},{name:'Model:', item:'Depo DMM'},{name:'Firmware:', item:'11.07'}]
- var sensors = [{name:'Температура:', item:'26 С'},{name:'Влажность:', item:'54%'},{name:'Запыленность:', item:'Низкая'},{name:'Время жизни:', item:'4 мин.'}, {name:'Датчик удара:', item:'Норма'}, {name:'Датчик корпуса:', item:'Норма'}]
- var lan = [{name:'Состояние:', item:'Подключено'},{name:'IP-addres:', item:'192.168.0.150'},{name:'Netmask:', item:'255.255.255.0'},{name:'DNS:', item:'192.168.0.1'},{name:'Gateway:', item:'192.168.0.1'}]
- var gsm = [{name:'Состояние:', item:'Подключено'},{name:'Версия:', item:'4.6786.34'},{name:'Оператор:', item:'Мегафон'},{name:'Уровень сигнала:', item:'72 Дбм'},{name:'Баланс:', item:'148 ₽'}]
- var voltage = [{name:'+5В:', item:'0.1 В'},{name:'+12В:', item:'0.3 В'},{name:'Внешнее :', item:'5 В'},{name:'Батареи:', item:'0.0 В'}]
- var extSensor = [{name:'Температура:', item:'Не найдено'},{name:'Влажность:', item:'Не найдено'},{name:'DPLS :', item:'Найден блок'}]

section.dashboard__block
    .title
        | Dashboard
    .main
        +widget('Общая информация', info)
        +widget('Датчики', sensors)
        +widget('Внешние датчики', extSensor)
        +widget('Напряжение', voltage)
        +widget('Настройки сети', lan)
        +widget('GSM модуль', gsm)
