//- netwrok block start
.network__block.hidden
    .title
        | Network
    .widget
        .title
            | Настройка сети
        - var inputs = ['IP-addres','Netmask','DNS-server','Gateway','Port']
        
        ul.network__list
            li.network__item.checkbox
                label.network__label
                    input(type="checkbox")
                    span.label__text Получить настройки по DHCP
            each val in inputs
                li.network__item.ip-addres
                    label.network__label= val
                        input(type="text")
        .saving__block
            a.btn(href="#!") Сохранить
//- netwrok block end
