//- sidebar start
.side-nav.visible
  .logo
    i.fa.fa-reddit-alien
    span.title__block Brand
  nav.nav
    ul.nav__list
        li.nav__item.active
            a.nav__link(href='#')
                span.icon
                    i.fa.fa-tachometer
                span.title__block Dashboard
        li.nav__item
            a.nav__link(href='#')
                span.icon
                    i.fa.fa-globe
                span.title__block Network
        li.nav__item
            a.nav__link(href='#')
                span.icon
                    i.fa.fa-cogs
                span.title__block Sensors
        li.nav__item
            a.nav__link(href='#')
                span.icon
                    i.fa.fa-envelope
                span.title__block Notification
//- sidebar end
