//- sidebar start
.side-nav.visible
  .logo
    i.icon-fa.icon-fa-reddit-alien
    span.title__block Brand
  nav.nav
    - var menus = [{name:'Dashboard',icon:'tachometer',id:'dash'}, {name:'Network',icon:'globe',id:'network'},{name:'Sensors',icon:'cogs',id:'sensors'},{name:'Notification',icon:'envelope',id:'notify'},{name:'Settings',icon:'cog',id:'settings'}]
    ul.nav__list
        each val in menus
            li(id="#{val.id}" class="nav__item" + ((val.name == 'Dashboard') ? ' active' : ''))
                a.nav__link(href='#')
                    span.icon
                        i.icon-fa(class="icon-fa-" + val.icon)
                    span.title__block= val.name
//- sidebar end
